// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$card-bg: #a7a7a7;
$link-hover-color: #7c7c7c;
$link-color: #585858;

// Album and images
$thumbnail-padding: .25rem;
$thumbnail-border-width: .25rem;

$theme-colors: (
  primary: #414141
);